
* {
    box-sizing: border-box;
    background-color: rgb(210, 143, 19);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
 
body {
  
  margin: 0;
}


header {
    padding: 40px;
    text-align: center;
    background: rgb(248, 204, 6);
    color: rgba(19, 15, 9, 0.971);
  }

main {
    display: flex;
    flex-wrap: wrap;
    
  }

.guide {
    flex: 4;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.example {
        border-style: dashed;
        border-width: 1px;
        border-radius: 10px;
        border-color: black;
        padding: 10px;
        flex: 0 0 400px;
        margin-block: 10px;
        margin-left: 10px;
        margin-right: 10px;
}


.example header {
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(65, 28, 2);
    
  }


  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }
  



/* .example {
        border-style: dashed;
        border-width: 1px;
        border-radius: 10px;
        border-color: black;
        padding: 10px;
        flex: 0 0 400px;
        margin-block: 10px;
        margin-left: 10px;
        margin-right: 10px;
}





    /* width: 100%;
    color: black;
    font-family: sans-serif;
    background-color: rosybrown;
    border-radius: 5px;
    padding: 20px;
    text-align: left; */





/* element.style {
} */

/* :root {
    --first-color: rgb(222, 221, 181);
    --second-color: rgb(152, 195, 155);
    --third-color: rgba(0,212,255,1);
}
* {
    padding: 0;
    margin: 0;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
user agent stylesheet
html {
    display: block;
    view-transition-name: root;
} */